<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="bitwarden" />
  <package id="chocolateygui" />
  <package id="discord" /> <!-- failed -->
  <package id="docker-desktop" />
  <package id="dotnetcore-sdk" />
  <package id="dropbox" />
  <package id="duplicati" /> <!-- not trusted -->
  <package id="etcher" />
  <package id="ffmpeg" />
  <package id="firefox" />
  <package id="git" />
  <package id="google-backup-and-sync" />
  <package id="googlechrome" />
  <package id="hashtab" /> <!-- not trusted -->
  <package id="imgburn" /> <!-- not trusted -->
  <package id="jellyfin" />
  <package id="kdiff3" />
  <package id="libreoffice-fresh" />
  <package id="microsoft-teams" />
  <package id="microsoft-windows-terminal" />
  <package id="mullvad-app" /> <!-- not trusted -->
  <package id="nodejs" />
  <package id="paint.net" />
  <package id="plex" />
  <package id="samsung-magician" /> <!-- not trusted, failed -->
  <package id="spotify" />
  <package id="steam" />
  <package id="syncthing" />
  <package id="teamviewer" />
  <package id="treesizefree" />
  <package id="veracrypt" />
  <package id="visualstudio2019community" />
  <package id="visualstudio2019community-preview" /> <!-- exempt from moderation, failed because of missing \-\-pre flag? -->
  <package id="vlc" />
  <package id="vscode" />
  
  <!--<package id="anydvd" />-->
  <!--<package id="geforce-experience" />-->
  <!--<package id="geforce-game-ready-driver" />-->
  <!--<package id="handbrake" />-->
  <!--<package id="lossless-cut" />-->
  <!--<package id="makemkv" />-->
  <!--<package id="malwarebytes" />-->
  <!--<package id="nvidia-display-driver" />-->
  <!--<package id="pycharm-edu" />-->
  <!--<package id="sqlitebrowser" />--> <!-- not trusted -->
</packages>